h1, h2, h3, p {
    font-family: Helvetica;
}

.header{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.item{
  font-size: 32px;
  color: white;
  font-weight: bold;
}

#brushes{
  background-color: MediumSpringGreen;
}

#frames{
  background-color: LightCoral;
}

#paint{
  background-color: Skyblue;
}

.item_price{
  color:blue;
  font-weight: bold;
}
